<div class="comment-section">
    <div class="comment-section__header">
      <h3>Comments</h3>
      <button class="comment-section__button button">VOTE/COMMENT</button>
    </div>
    <ul class="comment-section__filter">
      <li>
        <a class="filter__link filter__link--active" href="#">All</a>
      </li>
      <li>
        <a class="filter__link" href="#">MBTI</a>
      </li>
      <li>
        <a class="filter__link" href="#">Enneagram</a>
      </li>
      <li>
        <a class="filter__link" href="#">Zodiac</a>
      </li>
    </ul>
    <div class="comment-section__sorting">
      <button class="sorting_button sorting_button--active">best</button>
      <button class="sorting_button">recent</button>
    </div>
    <%- include('comment_input-box.ejs') %>
    <%- include('comment_list.ejs') %>
</div>