<div class="comments__card__profile">
    <div class="comments__card__avatar">
      <img src="<%= image %>" alt="">
    </div>
    <div class="comment__card__name">
      <%= name %>
    </div>
</div>